@{
    ViewData["Title"] = "About";
}

<header class="w3-container w3-xlarge">
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <h2><em>About Northern Threads</em></h2>
  <br>
  <br>
  
  <!-- About us message -->
  <div id="Story">
    <h3><u>Our Story</u>:</h3>
    <h4>Northern Threads is a Canadian-based store for top of the line business attire. Established in
      2017, we have quickly grown to become Canada's most respected brand of formal wear. Our brand is
      what helps make our country strive to be the greatest. Unlike some competitors, we bleed authenticity.
      What you see is what you get with our impeccably designed and created clothing.
    </h4>
  </div>
  <br>
  <br>
  <div id="Guarantee">
      <h3><u>Our Guarantee</u>:</h3>
      <h4>We stand 100% behind our products here at Northern Threads and guarantee that if for any 
        reason you are not fully satisfied with your purchase, you can definitely send it back to us. 
        We honor full refunds and exchanges for the original price paid, given that it is within the
        time period as indicated on your proof of purchase. As well, if anything you receive is damaged 
        or not quite the item you ordered, you may send it back to us for free.
      </h4>
  </div>
  <br>
  <br>
  <div id="Careers">
    <h3><u>Career Opportunities</u>:</h3>
    <h4>Here at Northern Threads, we pride ourselves on being able to provide a safe, happy, and fun
      work environment. We are always looking to expand our workforce and provide job opportunities to
      eager workers. If you are currently looking for opportunities, please contact us by email with a
      copy of your resume so we can begin the application process.
    </h4>
  </div>
