@{
    ViewData["Title"] = "Contact";
}
<header class="w3-container w3-xlarge">
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <!-- Image header -->
  <h2><em>Contact Details</em></h2>
  <br>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4563.122183298393!2d-80.5297757965959!3d43.47446278974025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x882bf40a0dcbeb85%3A0xe4de21703a608f46!2s75+University+Avenue+West%2C+Waterloo%2C+ON!3m2!1d43.4738727!2d-80.5278702!5e0!3m2!1sen!2sca!4v1512176553396"
  width="600" height="450" frameborder="0" style="border:0; float: right" allowfullscreen></iframe>
  <!-- Store Locator -->
  <div id="Locator">
    <h3><u>Store Locator</u>:</h3>
    <h4>King & Uni
        <br>75 University Ave W
        <br>Waterloo ON
        <br>N2L 3C5
        <br>(613) 555-0145
        <br>
        <br>Hours of Operation
        <br>M-F: 9am-8pm
        <br>Sat-Sun: 11am-5pm
    </h4>
  </div>

  <br>
  <br>
  <br>
  <div id="Service">
      <h3><u>Customer Service</u>:</h3>
      <h4>Have a problem? Don't hesitate to call/email us! We're happy to help in any way we can.
        <br>  
        <br>E-mail: <a href="mailto:fakemail@totallynotreal.com" target="_top">fakemail@totallynotreal.com</a> - 
        We typically reply within 2 hours.
        <br>Phone: <a href="tel:613-555-0145">(613) 555-0145</a> - 
        Our operators are available 24/7 to assist you!
        <br>
        <br>
      </h4>
  </div>
