@{
    ViewData["Title"] = "~/mens";
}

  <!-- Top header -->
  <header class="w3-container w3-large">
    <p class="w3-left">Businesswear for the Canadian Entrepreneur</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <!-- Image header -->
  <h2><em>Men's Apparel</em></h2>
  <div class="w3-container">
    <div class="w3-container">
      <img src="~/Images/MensClothing.jpeg" alt="Man in a suit" style="width:100%">
    </div>
  </div>

  <!-- Product grid -->
  <div id="Suits">
    <h3>Men's Suits</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">New</span>
            <img src="~/men/suit1.jpg" alt="black slim fit suit" style="width:65%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Black Slim Fit Suit<br><b>$345.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/suit2.jpg" alt="heather gray suit" style="width:99%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Heather Grey Suit<br><b>$239.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/suit3.jpg" alt="blue/grey suit" style="width:72%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Blue-Grey Suit<br><b>$369.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <img src="~/men/suit4.jpg" alt="light grey suit" style="width:80%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Light Grey Suit<br><b class="w3-text-red">$225.99</b></p>
        </div>
        </div>
    </div>
    </div>

  <div id="Blazers_Jackets">
    <h3>Men's Blazers/Jackets</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">New</span>
            <img src="~/men/blazer1.jpg" alt="brown blazer" style="width:86%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Brown Blazer<br><b>$95.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/blazer2.jpg" alt="blue/black blazer" style="width:56%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Blue-Black Blazer<br><b>$79.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/blazer3.jpg" alt="light grey blazer" style="width:68%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Light Grey Blazer<br><b>$79.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <img src="~/men/blazer4.jpg" alt="dark grey blazer" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Dark Grey Blazer<br><b class="w3-text-red">$75.99</b></p>
        </div>
        </div>
    </div>
    </div>

  <div id="Pants">
    <h3>Men's Pants</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">New</span>
            <img src="~/men/pants1.jpg" alt="dark grey dress pants" style="width:88%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Dark Grey Dress Pants<br><b>$79.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/pants2.jpg" alt="navy dress pants" style="width:88%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Navy Slim Fit Dress Pants<br><b>$89.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/pants3.jpg" alt="grey dress pants" style="width:88%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Grey Dress Pants<br><b>$69.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/pants4.jpg" alt="brown dress pants" style="width:90%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Brown Dress Pants<br><b>$65.99</b></p>
        </div>
        </div>
    </div>
    </div>

  <div id="Shoes">
    <h3>Men's Shoes</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/shoes1.jpg" alt="brown glossy dress shoes" style="width:78%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Brown Glossy Dress Shoes<br><b>$159.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/shoes2.jpg" alt="classic black dress shoes" style="width:78%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Classic Black Dress Shoes<br><b>$199.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/shoes3.jpg" alt="black comfy dress shoes" style="width:96%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Black Comfortable Dress Shoes<br><b>$149.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <img src="~/men/shoes4.jpg" alt="classic brown dress shoes" style="width:95%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Classic Brown Dress Shoes<br><b class="w3-text-red">$149.99</b></p>
        </div>
        </div>
    </div>
    </div>

  <div id="Outerwear">
    <h3>Men's Outerwear</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">New</span>
            <img src="~/men/jacket1.jpg" alt="grey pea coat" style="width:65%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Smoke Grey Pea Coat<br><b>$165.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/jacket2.jpg" alt="navy pea coat" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Navy Pea Coat<br><b>$139.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/jacket3.jpg" alt="grey car coat" style="width:65%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Grey Zipped Car Coat<br><b>$169.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <span class="w3-tag w3-display-topleft">Sale</span>
            <img src="~/men/jacket4.jpg" alt="black slim coat" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Black Slim Fit Coat<br><b class="w3-text-red">$225.99</b></p>
        </div>
        </div>
    </div>
    </div>

  <div id="Casual_wear">
    <h3>Men's Casual Attire</h3>
    <div class="w3-container w3-text-grey">
        <p>4 items</p>
    </div>
    <div class="w3-row ">
        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/casual1.jpg" alt="checkered shirt" style="width:80%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Blue/White Checkered Shirt<br><b>$75.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/casual2.jpg" alt="dark grey sweater" style="width:80%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Dark Grey Sweater<br><b>$89.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/casual3.jpg" alt="purple sweater" style="width:78%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Midnight Purple Sweater<br><b>$79.99</b></p>
        </div>
        </div>

        <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
            <img src="~/men/casual4.jpg" alt="sweater vest" style="width:97%">
            <div class="w3-display-middle w3-display-hover">
                <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
            </div>
            <p>Grey Sweater Vest<br><b>$65.99</b></p>
        </div>
        </div>
    </div>
    </div>

